div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    color: redss;
    margin: 10px auto;
    background-image: url("Image.jpg");
    /* background-size: contain; --it repeats the image to fill the box */
    background-size: cover;
}